<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8" />
    <title>Tetris un joueur</title>
    <!-- importe la fiche css associé à la partie un joueur -->
    <link rel="stylesheet" href="/style_jeu.css"> 
    <!-- import d'une police -->
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <div>
      <!--Titre de la page-->
      <h1>Tetris Battle!</h1>

      <!-- taleau pour indiquer les informations sur le joueur -->
      <table id = "Info">
        <!-- nom du joueur -->
        <tr>
          <td>Player: </td> 
          <script>document.write('<td >'+ sessionStorage.username+ ' </td>');</script>
        </tr>
         <!-- Score cumulatif de toutes les parties -->
        <tr>
          <td>Score: </td>
          <td id ="scoreT">  </td>
          <script>document.getElementById("scoreT").innerHTML = sessionStorage.score;</script>
        </tr>
         <!-- Score de la partie en cour -->
        <tr>
          <td>Score de la partie : </td> 
          <td id="scoreP"> 0 </td>
        </tr>  
      </table>
      
      <div id ="tetromino-suiv">
        <script>
          document.write("<table id = 'tetromino' border= '1'>");
          var i, j;
          //génération d'une grille de 20 case de haut et 10 cases de large
          for (i=0;i<4; i++){
            document.write("<tr>");
            for (j=0;j<4;j++){
              document.write("<td id = 'test'></td>");
              // change l'id afin d'y mettre la position de la case sous forme (ligne,colone)
              document.getElementById("test").id = i+";"+j;
            }

            document.write("</tr>");
          }
          document.write("</table>");
        </script>
      </div>
      
      <!-- section utilisé lors d'une défaite -->
      <div id = "Fin">
        <p id ="gameover"></p>
        <p id = "retour"></p>
      </div>
      
      
      <!-- génération de la grille de jeu -->
      <script>
        document.write("<table id = 'grille' border= '1'>");
        var i, j;
        //génération d'une grille de 20 case de haut et 10 cases de large
        for (i=0;i<20; i++){
          document.write("<tr>");
          for (j=0;j<10;j++){
            document.write("<td id = 'test'></td>");
            // change l'id afin d'y mettre la position de la case sous forme (ligne,colone)
            document.getElementById("test").id = i+","+j;
          }

          document.write("</tr>");
        }
        document.write("</table>");
      </script>

      <!-- interaction via clavier-->
      <script>
        
        document.addEventListener("keydown", function(e){
          if(e.keyCode === 37) cmd('droite');
          
          else if(e.keyCode == 38) cmd('rotate');
         
          else if(e.keyCode == 39) cmd('gauche');
          
          else if(e.keyCode == 40) cmd('bas');
          
          else if(e.keyCode == 27) location.replace("jeu.html");
          

        });
      </script>

      <!--comunication avec le serveur via websocket-->
      <script src="/socket.io/socket.io.js"></script>
      <!-- script du déroulement de la partie -->
      <script>
        /***********************************
         CONNECTION AU SERVEUR VIA SOCKET.IO
        ************************************/
        
        var socket = io.connect('wss://' + window.location.host);
        socket.emit('setPseudo',sessionStorage.username);
        //console.log("log")
        socket.emit('OnePlayer',socket.id);
        //console.log("pulse")
        
        /******************************************************
         INITIALISATION DES VARIABLES UTILISER DURANT LA PARTIE
        *******************************************************/
        var x = 0;
        var y = 0;
        var x2 = 0;
        var y2 = 0;
        var x3 = 0;
        var y3 = 0;
        var x4 = 0;
        var y4 = 0;
        var CMDsend;
        var scoreP = 0;
        var clock = setInterval(sendCmd,100);

         /**********************************
         GESTION DE LA DESCENTE DU TETROMINO
         ***********************************/
        socket.on('moove', function(message) {
          val = message.split(' ');
          //console.log("--------",y+","+x);
          
          /* efface le tétromino de la position précédente*/
          document.getElementById(y+","+x).style.backgroundColor = "black";
          document.getElementById(y2+","+x2).style.backgroundColor = "black";
          document.getElementById(y3+","+x3).style.backgroundColor = "black";
          document.getElementById(y4+","+x4).style.backgroundColor = "black";
          
          x = Number(val[0]);
          y = Number(val[1]);
          x2 = Number(val[2]);
          y2 = Number(val[3]);
          x3 = Number(val[4]);
          y3 = Number(val[5]);
          x4 = Number(val[6]);
          y4 = Number(val[7]);
          //console.log(x,y,x2,y2);
          
          /* affiche le téromino à la position suivante*/
          document.getElementById(y+","+x).style.backgroundColor = val[8];
          document.getElementById(y2+","+x2).style.backgroundColor = val[8];
          document.getElementById(y3+","+x3).style.backgroundColor = val[8];
          document.getElementById(y4+","+x4).style.backgroundColor = val[8];
        });
        
        /*******************************
         GESTION DE L'ARRET DU TETROMINO 
         *******************************/
        socket.on('lock', function(message) {
          //console.log("lock");
          
          /* changement de la couleur du tetromino*/
          // document.getElementById(y+","+x).style.backgroundColor = "blue";
          // document.getElementById(y2+","+x2).style.backgroundColor = "blue";
          // document.getElementById(y3+","+x3).style.backgroundColor = "blue";
          // document.getElementById(y4+","+x4).style.backgroundColor = "blue";
          //console.log("lock",x,y,x2,y2,x3,y3,x4,y4)
          
          /* réinitialisation des variables*/
          x = 0;
          y = 0;
          x2 = 0;
          y2 = 0;
          x3 = 0;
          y3 = 0;
          x4 = 0;
          y4 = 0;
        });

        /**************************************************
         GESTION DE LA SUPRESSION D'UNE ou PLUSIEURS LIGNES
         **************************************************/
        socket.on('supp', function(message) {
          //console.log("supp",message);
          
           /* supression de la ligne*/
          for(var p=1;p<message[0]+1;p++) {  
            x = message[p];
            //console.log("eff " +x+message[1]);
            for(var i=9; i>=0; i--) {
              for(var j=x; j>=0; j--) {
                if(j != 0) {
                  document.getElementById(j+","+i).style.backgroundColor = document.getElementById(j-1+","+i).style.backgroundColor;    
                }
                else {
                  document.getElementById(j+","+i).style.backgroundColor = "black";
                }
              } 
            }
            /* Modification du score */
            var score = 0;    
            score = parseInt(sessionStorage.score);
            score = score+1;
            sessionStorage.score = score;
            scoreP = scoreP+1;
            document.getElementById("scoreP").innerHTML = scoreP;
            document.getElementById("scoreT").innerHTML = sessionStorage.score;
          }
          /* réinitialisation des variables*/
          x = 0;
          y = 0;
          x2 = 0;
          y2 = 0;
          x3 = 0;
          y3 = 0;
          x4 = 0;
          y4 = 0;
        });
        /*******************************
         Visibilité du tetromino suivant
         *******************************/
        socket.on ('suiv',function(message) {
          val = message.split(' ');
         
          /* efface le tétromino de la position précédente*/
          var i, j;
          //génération d'une grille de 20 case de haut et 10 cases de large
          for (i=0;i<4; i++){
            for (j=0;j<4;j++){
             document.getElementById(i+";"+j).style.backgroundColor = "black";
            }
          }

          
          /* affiche le téromino à la position suivante*/
          document.getElementById(Number(val[1])+";"+Number(val[0])).style.backgroundColor = "red";
          document.getElementById(Number(val[3])+";"+Number(val[2])).style.backgroundColor = "red";
          document.getElementById(Number(val[5])+";"+Number(val[4])).style.backgroundColor = "red";
          document.getElementById(Number(val[7])+";"+Number(val[6])).style.backgroundColor = "red";
          
        });
        
        /***************************
         GESTION DE LA FIN DE PARTIE
         ***************************/
        socket.on('GameOver',function(message) {
          /* modification de l'affichage*/
          document.getElementById("Fin").style.backgroundColor = "black";
          document.getElementById("gameover").innerHTML = "<h1> Game Over <\h1>";
          document.getElementById("retour").innerHTML = " <a href='jeu.html' id = 'retourmenu' >Accueil</a>  <a href='tetrisUnJoueur.html' id = 'rejouer' >Rejouer</a>";
          document.getElementById("retourmenu").setAttribute("href", "/jeu");
          document.getElementById("rejouer").setAttribute("href", "/tetrisUnJoueur");
          /* mise à jour de la base de donnée*/
          saveStats();
          /* arret du socket*/
          clearInterval(clock);
          socket.disconnect();
        });
        
        /******************
         Fonction utilisées  
         ******************/
        
        /*fonctions pour envoyer lacomande au serveur*/
        function sendCmd() {
          if(CMDsend != null) {
            socket.emit('cmd',CMDsend)  
          }
          CMDsend = null;
        }
        
        function cmd(dir) {
          CMDsend = dir;
        }

        /* fonction utiliser pour enregistre le nouveau score total dans la BD (requête au serveur)*/
        function saveStats() {
          const data = {"type": "save_stats",
                        "username": sessionStorage.username,
                        "scoreT": sessionStorage.score}
          socket.emit('gestion', JSON.stringify(data));
        }
      </script>
      
    </div>
    <!-- Bas de page -->
    <div id = "footer">
      <h2> Site réalisé pour le projet AWS UVSQ 2020 </h2>
    </div>
  </body>
</html>