/****************
CSS page de fond
*****************/
h1{
  text-align:center;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
  font: 1.65em Bowlby One SC, Georgia, Arial;
  animation:colorchange 20s infinite alternate;
}

body{
  background-color: black;
  margin : auto auto;
  

}
/*permet de changer de couleur ( utiliser pour le titre) */
@-webkit-keyframes colorchange {
        0% { color: red; }
        50% { color: yellow; }
        100% { color: blue; }
}


h3{
  font: 1.5em Bowlby One SC, Arial;
  color: white;
  text-align: center;
}

h3 a{
  text-decoration: none;
  color: white;
}

h3 a:hover{
  color: #CF4242;
}


/*********************
Conteneur joueur
**********************/
#block-jeu{
  vertical-align : center;

  
}

#tableau-jeu-solo {
  border-collapse: collapse;
  margin-left: 33%;
  
}

#tableau-jeu-solo td{
  margin-top: 0px;
  text-align:top;
  border-spacing: 50px 10px;
  vertical-align: top;
}

#tableau-jeu {
  border-collapse: collapse;
  margin: auto;
  
}

#tableau-jeu td{
  margin-top: 0px;
  text-align:top;
  border-spacing: 50px 10px;
  vertical-align: top;
}


/*********************
CSS Information joueur
**********************/
#infos1v1 {
  margin-left: 36%;
}

#Info{
  display: inline-table;
}

#Info tr{
  list-style: none;
  color: white;
  font: 1.4em Bebas Neue, Arial;
}

#Infoj2 {
  display:inline-table;
  margin-left: 10%;
}

#Infoj2 tr{
  list-style: none;
  color: white;
  font: 1.4em Bebas Neue, Arial;
}

#tetrosuiv {
  color: white;
  font: 1.4em Bebas Neue, Arial;
}


/****************
CSS Grille de jeu
*****************/
#aligngrilles {
  overflow: hidden;
  display:inline;
  border-collapse: separate;
  border-spacing: 15px 10px;
  margin-left: 25%;
}

#grille{
  margin-left:0%; 
  margin-right:50%;
  border-collapse: collapse;
  display:inline;
}

#grille td{
  border: 1.5px solid white;
  padding: 12px;
  
}
/********************
CSS Tetromino suivant
*********************/
#tetromino-suiv{
  
}
#tetromino{
   border: black;
   border-collapse: collapse; 
}
#tetromino td{
  padding: 10px;
}

/****************
CSS Fin de partie
*****************/
#Fin {
  position : absolute;
  margin-left:40%; 
  margin-top: 6%;
  margin-right:40%;
  width: 330px;
  z-index : 1; /*pour mettre au premier plan*/
  text-align: center;
  
  
}
#gameover h1{
  font: 1.65em Bowlby One SC, Georgia, Arial;
  
}

#retour a{
  outline: none;
  text-decoration: none;
  color: white;
  font: 1em Bowlby One SC, Georgia, Arial;
  
}
/*lorsque le lien à déjà été visité*/
#retour a:visited {
  outline: none;
  text-decoration: none;
}
/*modification de,la couleur lorsque l'on passe la souris sur le lien */
#retour a:hover {
  color : red;
}
/**************
CSS bas de page
***************/
#footer{
  font-family: helvetica, arial, sans-serif;
  background: #636363;
  align: auto;
}

#footer h2{
  color: white;
  text-align: center;
  font: 1.4em Bebas Neue, Arial;
  padding: 0px 10px 0px;
}
